<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="..\static\images\favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/style.css" rel="stylesheet">

    <!-- Get the text from the form and display it-->
    <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('a#validation').bind('click', function(data) {
                $.getJSON('_answer', {
                    question: $('input[name="quest"]').val(),
                }, function(data) {
                    $("#result").text(data.result);
                });
                return false;
            });
         });
    </script>

    <!-- Get the text from the form for address display-->
    <script type="text/javascript">
        $(function() {
            $('a#validation').bind('click', function(data) {
                $.getJSON('_address', {
                    question: $('input[name="quest"]').val(),
                }, function(data) {
                    $("#address").text(data.result);
                });
                return false;
            });
         });
    </script>

    <!-- Get the text from the form for map display-->
    <script type="text/javascript">
        $(function() {
            $('a#validation').bind('click', function(data) {
                $.getJSON('_map', {
                    question: $('input[name="quest"]').val(),
                }, function(data) {
                    $("#map").attr("src", data.result);
                });
                return false;
            });
         });
    </script>

    <!-- Get the text from the form for wiki display-->
    <script type="text/javascript">
        $(function() {
            $('a#validation').bind('click', function(data) {
                $.getJSON('_wiki', {
                    question: $('input[name="quest"]').val(),
                }, function(data) {
                    $("#wiki").text(data.result);
                });
                return false;
            });
         });
    </script>

    <title>GrandPy Bot</title>

</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <img src="..\static\images\logo.png" alt="Logo de GrandPy Bot">
                    <h2>GrandPy Bot</h2>
                </div>
                <div class="col-lg-8">
                    <div class="baseline">
                        <h3> Il sait tout sur tout !</h3>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="middlebloc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="question_bloc">
                        <h2> Pose ta question mon petit !</h2>
                        <form id="my_form" name="my_form">
                            <input type="text" id="quest" name="quest" required='required'>
                            <span id="missing_text"></span>
                            <a href="#" id="validation"><button class="btn btn-default" id="button_valid" name = "button_valid"> Envoie !</button></a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7" id="answer_bloc">
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <p>
                                <h6><span id="result"></span></h6>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <h6><span id="address"></span></h6>
                            </p>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <img src="" id="map">
                            </p>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <h6><span id="wiki"></span></h6>
                            </p>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="name">
                        <h6>Pierre-Antoine Bissonnier</h6>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h6>Où me trouver ?</h6>
                    <p>
                        <a href="https://github.com/pabissonnier" target="_blank"><img src="../static/images/github.png" alt="Vers mon Github"></a>
                        <a href="https://www.linkedin.com/in/pierre-antoine-bissonnier-68885616/" target="_blank"><img src="../static/images/linkedin.png" alt="Vers mon Linkedin"></a>
                        <a href="https://www.malt.fr/profile/pierreantoinebissonnier" target="_blank"><img src="../static/images/malt.png" alt="Vers mon profil Malt"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
