{% extends "layout.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <form method="post" action="..\result.py">
                        <p>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea4"><h5>Pose ta question mon petit :</h5></label>
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea4" rows="3"></textarea>
                                <div class="button">
                                    <button type="submit" class="btn btn-outline-success">Envoyer</button>
                                </div>
                            </div>
                        </p>
                    </form>
                </div>
                <div class="col-lg-7">
                    <p>ZONE POUR DIALOGUE</p>
                </div>

            </div>
        </div>
{% endblock content %}
